---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		study-astro-doctest
	</main>
</Layout>

<style>
	main {}
</style>

<!--<script lang="ts">-->
<!--	/**-->
<!--	 * @example-->
<!--	 * ```ts @import.meta.vitest-->
<!--	 * expect(sub(2, 1)).toBe(1);-->
<!--	 * ```-->
<!--	 */-->
<!--	function sub(a: number, b: number): number {-->
<!--		return a - b;-->
<!--	}-->
<!--</script>-->
